<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test suite">
  <test thread-count="5" name="Default test" verbose="2">
    <classes>
      <class name="testCases.Verifying_Landing_Page"/>
      
      <class name="testCases.Verifying_User_Sign_On"/>
       <class name="testCases.Verifying_User_Registration"/>
      
      <class name="testCases.Verifying_FlightsBooking_Page"/>
     
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
